body {
	background-color: #000;
}

.b-slideshow {
	position: absolute;
	display: none;
}

.b-slideshow__image {
}

.b-gallery {
	position: absolute;
	bottom: 20px;
	left: 0;
	display: none;
	overflow: hidden;
	width: 100%;
	height: 93px;
	background-color: rgba(128, 128, 128, 0.2);
	}

.b-gallery__wrapper {
	position: absolute;
	left: 0;
	display: block;
	overflow: hidden;
	width: 5200px;
	height: 93px;
}

.b-gallery__wrapper>a {
	display: inline-block;
	width: 96px;
	outline: none;
	text-align: center;
}

.b-gallery__image {
	display: inline-block;
	padding: 6px;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	border: none;
}

.b-gallery__image_active {
	border: 3px solid #149eaf;
}


.b-left-arrow, .b-right-arrow {
	position: absolute;
	top: 50%;
	display: none;
	width: 88px;
	height: 88px;
	border: 4px solid;
	border-color: rgba(255, 255, 255, 0.4);
	border-radius: 88px;
}

.b-left-arrow {
	left: 30px;
}

.b-right-arrow{
	right: 30px;
}

.b-left-arrow__up_corner, .b-left-arrow__bottom_corner,.b-right-arrow__up_corner, .b-right-arrow__bottom_corner {
	position: absolute;
	width: 40px;
	height: 18px;
	background-color: #eee;
}

.b-left-arrow__up_corner {
	top: 23px;
	left: 23px;
}

.b-left-arrow__bottom_corner {
	bottom: 25px;
	left: 23px;
}

.b-right-arrow__up_corner {
	top: 23px;
	right: 23px;
}

.b-right-arrow__bottom_corner {
	right: 23px;
	bottom: 25px;
}

.rotate-cw {
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
}

.rotate-acw {
    -webkit-transform: rotate(-52deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
}
